.settings-container {
  padding-top: 800px; 
  padding-left: 24px;
  padding-right: 24px;
  min-height: 100vh;
  background-color: #f9f9f9;

}

.settings-header {
  margin-bottom: 24px;
}

.empty
{
    height: 200px;
    background-color: blueviolet;
}
